# Ignore model file
plant_disease_model_1_latest.pt

# Virtual environments
venv/
env/
rahul/

# Python cache
__pycache__/
*.pyc

# IDE & system files
.vscode/
.DS_Store
Thumbs.db

# Binaries
*.dll
*.lib


https://drive.google.com/file/d/1pzyCBdk4lFzq5L3CbIf8NJKhFPWObOgI/view?usp=drive_link